{% extends "base.html" %}

{% block content %}
<!-- <div class="hero"><img src="/media/jackbrown.webp" alt="">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div> -->

<video class="w-full shadow-lg" autoplay loop controls muted>
  <source
    src="media/video1.mp4"
    type="video/mp4" />
</video>

  <div class="container mx-auto pt-16">
    <div data-te-lightbox-init class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
      <div class="flex h-full w-full flex-1 flex-col">
        <img
          src="media/IMG_6949.jpg"
          data-te-img="media/IMG_6949.jpg"
          alt="Sepatu Arboo Boots Skylar"
          class="mb-5 w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
        <img
          src="/media/10lks.webp"
          data-te-img="/media/10lks.webp"
          alt="Coconut with Strawberries"
          class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
      </div>
      <div class="flex h-full w-full flex-1 flex-col">
        <img
          src="/media/IMG_3725.webp"
          data-te-img="/media/IMG_3725.webp"
          alt="Sepatu WB Boots Arboo"
          class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
      </div>
    </div>
  </div>

{% endblock %}